.button {
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  color: var(--black-1);
  &_select {
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    border: none;
    background-color: var(--bg-2);
    width: 150px;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.9;
  }
}
.button-primary {
  background-color: var(--primaryPurple);
  color: var(--btn-clr);
}
.button-secondary {
  background-color: var(--gray-2);
  color: var(--btn-clr);
}
